[submodule "OCB"]
	path = odoo
	url = https://github.com/OCA/OCB.git
	branch = 12.0
[submodule "web"]
	path = web
	url = https://github.com/OCA/web.git
	branch = 12.0
[submodule "server-ux"]
	path = server-ux
	url = https://github.com/OCA/server-ux.git
	branch = 12.0
[submodule "hamutility"]
	path = hamutility
	url = https://github.com/sardylan/hamutility.git
	branch = 12.0
