@charset "UTF-8";

.stationlog-qso {
    page-break-inside: avoid;
    margin: 5mm 2mm;
    padding: 2mm 2mm;
    border: #c1c1c1 2mm solid;
}

.stationlog-qso .stationlog-header {
    vertical-align: middle;
}

.stationlog-qso .stationlog-header div {
    display: inline-block;
}

.stationlog-qso .stationlog-header .stationlog-station {
    font-size: 160%;
    padding-left: 3mm;
    float: left;
}

.stationlog-qso .stationlog-header .stationlog-station .stationlog-callsign {
    font-family: monospace;
    font-weight: bold;
}

.stationlog-qso .stationlog-header .stationlog-station .stationlog-name {
}

.stationlog-qso .stationlog-header .stationlog-station .stationlog-country {
}

.stationlog-qso .stationlog-header .stationlog-datetime {
    font-size: 90%;
    padding-left: 1.5mm;
    float: right;
    text-align: right;
}

.stationlog-qso .stationlog-info {
    font-size: 85%;
    border: 0.2mm solid #EEEEEE;
    padding: 1mm 2mm;
    clear: both;
}

.stationlog-qso .stationlog-info .stationlog-radio {

}

.stationlog-qso .stationlog-info .stationlog-radio div {
    float: left;
    margin-right: 2mm;
}

.stationlog-qso .stationlog-info .stationlog-report {
    clear: both;
}

.stationlog-qso .stationlog-info .stationlog-report div {
    float: left;
    margin-right: 2mm;
}

.stationlog-qso .stationlog-note {
    clear: both;
    margin: 1mm 0;
    padding: 0 1mm;
}

.stationlog-param {
    font-weight: bold;
}
