@charset "UTF-8";

.station_log-qso {
    page-break-inside: avoid;
    margin: 5mm 2mm;
    padding: 2mm 2mm;
    border: #c1c1c1 2mm solid;
}

.station_log-qso .station_log-header {
    vertical-align: middle;
}

.station_log-qso .station_log-header div {
    display: inline-block;
}

.station_log-qso .station_log-header .station_log-station {
    font-size: 160%;
    padding-left: 3mm;
    float: left;
}

.station_log-qso .station_log-header .station_log-station .station_log-callsign {
    font-family: monospace;
    font-weight: bold;
}

.station_log-qso .station_log-header .station_log-station .station_log-name {
}

.station_log-qso .station_log-header .station_log-station .station_log-country {
}

.station_log-qso .station_log-header .station_log-datetime {
    font-size: 90%;
    padding-left: 1.5mm;
    float: right;
    text-align: right;
}

.station_log-qso .station_log-info {
    font-size: 85%;
    border: 0.2mm solid #EEEEEE;
    padding: 1mm 2mm;
    clear: both;
}

.station_log-qso .station_log-info .station_log-radio {

}

.station_log-qso .station_log-info .station_log-radio div {
    float: left;
    margin-right: 2mm;
}

.station_log-qso .station_log-info .station_log-report {
    clear: both;
}

.station_log-qso .station_log-info .station_log-report div {
    float: left;
    margin-right: 2mm;
}

.station_log-qso .station_log-note {
    clear: both;
    margin: 1mm 0;
    padding: 0 1mm;
}

.station_log-param {
    font-weight: bold;
}
